@media (max-width: 50rem) {
	.btn {
		padding-block: 1rem;
		max-width: 100%;
	}

	.hero {
		grid-template-columns: 1fr;
		grid-gap: 2rem;

		.intro {
			text-align: center;

			&-heading {
				font-size: 2rem;
			}
		}
	}

	.footer {
		align-self: center;
	}
}
