body {
	min-height: 100vh;
	background-color: $clr-primary;
	background-image: url('../images/bg-desktop.svg');
	background-repeat: no-repeat;
	background-size: auto 100%;
	font-family: $ff-body;
	color: $clr-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $ff-head-btn;
}

// Header
.header {
	align-self: flex-start;
}

// Hero
.hero {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-gap: 3.75rem;
	align-items: center;

	.intro {
		&-heading {
			font-size: 2.5rem;
			font-weight: $fw-head;
		}

		&-desc {
			margin: 1.5rem 0;
			font-size: 1.125rem;
		}
	}
}

.footer {
	align-self: end;

	.sns-links {
		display: flex;
		gap: 1.25rem;

		.sns-link {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			height: 2rem;
			width: 2rem;
			line-height: 2rem;
			text-align: center;
			padding: 1.125rem;
			border: 2px solid $clr-white;
			border-radius: 50%;
			transition: all 0.5s ease;

			&:hover {
				border-color: $clr-secondary;
				background-color: $clr-secondary;
			}
		}

		.sns-icon {
			font-size: 1.125rem;
		}
	}
}
