body {
	min-height: 100vh;
	background-color: $clr-primary;
	background-image: url('../images/bg-desktop.svg');
	background-repeat: no-repeat;
	background-size: auto 100%;
	font-family: $ff-body;
	color: $clr-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $ff-head-btn;
}
