// Import Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

// Colors
$clr-primary: hsl(257, 40%, 49%);
$clr-secondary: hsl(300, 69%, 71%);

$clr-white: hsl(0, 0, 100%);

// Font Weight
$fw-head: 600;
$fw-body: 400;

// Font Family
$ff-head-btn: 'Poppins', sans-serif;
$ff-body: 'Open Sans', sans-serif;

// Max Width
$max-width: 80rem;
